@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.App {
    .generic-page {
        display: flex;
        height: calc(100vh - 80px);
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 72px;
            text-align: center;
            margin: 50px 0;
        }

        .card {
            width: 500px;
            padding: 30px;
            border-radius: 4px;
            box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.2);

            h2 {
                margin-bottom: 20px;
            }

            form {
                input {
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 15px;
                    font-size: 15px;
                }
            }
        }

        .btn-primary {
            width: 100%;
            margin-bottom: 10px;
            padding: 15px;
            font-size: 15px;
            background-color: green;
            border: none;
            color: white;
            font-size: 18px;
            font-weight: 600;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.15);
            margin-top: 15px;
            transition: background-color 0.2s ease-in-out;
            cursor: pointer;
            text-transform: uppercase;

            &.fetching {
                opacity: 0.5;
                pointer-events: none;
                user-select: none;
            }

            &:hover {
                background-color: rgb(1, 165, 1);
            }
        }

        .user-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;

            .text {
                margin-left: 15px;

                .name {
                    font-size: 24px;
                }

                .age {
                    font-size: 16px;
                    color: #27a39f;
                    font-style: italic;
                }
            }
        }
    }
}