.navbar {
  background: #18615e;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.navbar .hamburger-link {
  font-size: 2rem;
  color: white;
  background: none;
  display: flex;
  align-items: center;
}